*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 10%;
}

#subtitulo {
    font-family: sans-serif;
    color: blueviolet;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body{
    background-color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    color: blueviolet;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: blueviolet;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 00.2em;
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 2px rgba(red, purple, blue);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: seashell;
}

.botao {
    font-size: 1.2em;
    background: blueviolet;
    border: 0;
    margin-bottom: 1em;
    color: floralwhite;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(red, green, blue, alpha);
    text-shadow: 1px 1px 1px rgba(red, green, blue, alpha);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: 50%;
    transform:translate(50%, -50%);
}

.botao:hover {
    background: blueviolet;
    box-shadow: inset 2px 2px 2px rgba(red, green, blue, alpha);
    text-shadow: none;
}

.botao, select {
    cursor: pointer;
}

#check {
    display: inline-block;
}